<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
</head>

<body>
	<th:block th:replace="frag/header :: header"></th:block>
	<div class="container">
		<div class="row justify-content-center align-items-center">
			<div class="col d-flex justify-content-center m-4">
				<h1 th:text=" ${ media.title } "></h1>
			</div>
		</div>
	</div>
</body>

</html>