<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Hello!</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
</head>

<body>
	<th:block th:replace="frag/header :: header"></th:block>
	<div class="container">
		<div class="row justify-content-center align-items-center">
			<div class="col d-flex justify-content-center m-4">
				<ul class="list-group w-50">
					<li class="list-group-item text-center" th:each="media : ${medias}">
						<th:block th:replace="frag/header :: movie(*{id},*{title})"></th:block>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>

</html>